@mixin form-validation-indicator($indicator-offset-top: -2px, $indicator-offset-right: 0px) {
  position: relative;

  &::before {
    content: '';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    position: absolute;
    right: $indicator-offset-right;
    top: $indicator-offset-top;
    font-size: 10px;
    color: transparent;
    display: none;
    width: 10px;
    height: 10px;
    border: 2px solid;
  }

  &.field-valid::before {
    border-color: #00C25B;
    display: block;
  }

  &.field-invalid {
    border-color: #E71F6C !important;
    
    input {
      border-bottom-color: #E71F6C;
    }
  }

  .v-field-error {
    margin-top: 5px;
    padding: 10px;
    background-color: #E71F6C;
    color: #fff;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    
    @media screen and (min-width: 768px) {
      min-width: 210px;
    }
  }
}
