<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      For guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p>

    <div class="booking-participants">
      <div class="booking-participants__form">
        <div class="booking-participants__form--row">
<!--
          <InputBox icon="v" name="test" key="test" class="input-box--blue-border" label="Test*"
            v-model="selectedInputBoxSoloValue" @click="toggle('inputBoxSolo')"
            v-validate="'required'" validateAs="test">

            <RadioList v-if="dropdowns.inputBoxSolo" @close="toggle('inputBoxSolo')"  v-model="inputBoxSolo" :options="genderOptionsForWeb" />
          </InputBox>
-->
          <div class="booking-participants__form--column">
            <div v-for="el in testList" :key="el.id">
              <h3>Element {{ el.id }}</h3>

              <TextInput :name="`test_x_${el.id}`" :key="`test_x_${el.id}`" placeholder="Wpisz cos"
                label="Test*" :firstLetterUppercase="true"
                data-vv-as="test"
                v-model="el.value" :validateAs="`test_${el.id}`"
                v-validate="'required'" />
              <br>

              <TestInput v-model="el.value" :genderOptionsForWeb="genderOptionsForWeb" />

              <InputBox icon="v" :name="`test_${el.id}`" :key="`test_${el.id}`" class="input-box--blue-border"
                label="Test*" v-model="testList[0].value" @click="toggle('list', el.id)"
                v-validate="'required'" :validateAs="`test_${el.id}`">
                <RadioList v-if="dropdowns.list[el.id]" @close="toggle('list', el.id)"
                  v-model="testList[0].value" :options="genderOptionsForWeb" />
              </InputBox>
              <br>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'

import InputBox from '@/components/InputBox'
import RadioList from '@/components/RadioList'
import TextInput from '@/components/TextInput'
import TestInput from '@/components/TestInput'

import DropdownHandler from '@/components/DropdownHandler'

@Component({
  mixins: [
    DropdownHandler
  ],
  components: {
    InputBox,
    RadioList,
    TextInput,
    TestInput
  },
  props: {
    msg: {
      type: String,
      required: false
    }
  }
})
export default class HelloWorld extends Vue {
  textInput = ''
  inputBoxSolo = ''
  testList = [ {
    value: '',
    id: 1
  }, {
    value: '',
    id: 2
  } ]

  dropdowns = {
    inputBoxSolo: false,
    list: [ false, false, false ]
  }

  get genderList () {
    return [ '', 'kobieta', 'mężczyzna' ]
  }

  get genderOptionsForWeb () {
    return this.genderList
      .map(gender => ({ value: gender, name: gender }))
      .filter(gender => gender.name !== '')
  }

  get selectedInputBoxSoloValue () {
    return this.getFormatedSelectValue(this.inputBoxSolo, 'Kliknij i wybierz')
  }

  getFormatedSelectValue (item, label, max = 1) {
    if (item == null) return label
    else if (item.length === 0) return label
    else if (typeof item === 'string' && item !== '') return item
    else if (item.length <= max) return item.take(item.length).map(x => x.name).join(', ')
    else return `${item.length} wybrano`
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style lang="scss">
.booking-participants {
  display: grid;
  grid-template-columns: 1fr;
  width: 800px;
  margin: auto;
  background: red;

  @media screen and (min-width: 768px) {
    grid-row-gap: 20px;
  }

  &__form {
    display: grid;
    grid-row-gap: 15px;
    padding: 25px 20px;
    background-color: #fff;

    @media screen and (min-width: 768px) {
      grid-row-gap: 21px;
    }
  }

  &__form--row {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 17px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__form--column {
    display: grid;
    grid-column-gap: 20px;
    align-items: flex-start;
  }
}
</style>

<style lang="scss">
// .text-input, .input-box {
//   color: #005CA9;
//   font-family: 'Gotham Book';
//   line-height: 1.45;

//   &__label {
//     font-size: 11px;
//   }

//   &__value {
//     font-size: 12px;
//   }

//   &__icon {
//     color: #005CA9;
//   }
// }

// .text-input {
//   background-image: none;

//   &__value input {
//     @media screen and (min-width: 768px) {
//       padding: 6px 0 8px;
//     }
//   }
// }

// .input-box__value {
//   padding: 3px 0 7px;
// }

// .input-box__icon {
//   padding-top: 9px;
//   padding-right: 10px;
// }

// .selection-box {
//   line-height: 1.35;

//   &__icon {
//     color: #005CA9;
//   }

//   &__label {
//     font-size: 12px;
//     font-family: 'Gotham Book';
//     color: #005CA9;
//   }
// }

// select {
//   color: #005CA9;
//   text-transform: none;
//   font-size: 12px;

//   @supports (-webkit-overflow-scrolling: touch) {
//     padding-top: 7px;
//     padding-bottom: 8px;
//   }
// }

// .radiolist-item input {
//   display: none;
// }

// .radiolist-item__label {
//   padding: 0;

//   &--selected {
//     color: #009FEA;
//   }

//   &::before,
//   &::after, {
//     display: none;
//   }
// }
</style>
