<template>
  <InputBox icon="v" name="test" key="test" class="input-box--blue-border" label="Test*" v-model="selectedLabel" v-validate="'required'">
    <RadioList v-model="inputBoxSolo" :options="genderOptionsForWeb" @input="$emit('input', $event)" />
  </InputBox>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'

import InputBox from '@/components/InputBox'
import RadioList from '@/components/RadioList'

@Component({
  components: {
    InputBox,
    RadioList
  },
  props: {
    value: {
      type: String,
      required: false
    },
    genderOptionsForWeb: {
      type: Array,
      required: true
    }
  }
})
export default class TestInput extends Vue {
  validateAs = 'lastName'
  inputBoxSolo = this.value

  get selectedLabel () {
    return this.getFormatedSelectValue(this.inputBoxSolo, 'Kliknij i wybierz')
  }

  getFormatedSelectValue (item, label, max = 1) {
    if (item == null) return label
    else if (item.length === 0) return label
    else if (typeof item === 'string' && item !== '') return item
    else if (item.length <= max) return item.take(item.length).map(x => x.name).join(', ')
    else return `${item.length} wybrano`
  }
}
</script>
